asgiref==3.9.1
certifi==2025.7.9
distlib==0.3.9
Django==5.2.4
django-csp==4.0
djangorestframework==3.16.0
filelock==3.18.0
mysql-connector==2.2.9
mysql-connector-python==9.3.0
packaging==25.0
pillow==11.3.0
pipenv==2025.0.4
platformdirs==4.3.8
psycopg2-binary==2.9.10
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.31.2
